<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item ">By Subcategory</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="meat-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Meat
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="meat-link">
                <a href="{% url 'products' %}?subcategory=beef" class="dropdown-item">Beef</a>
                <a href="{% url 'products' %}?subcategory=lamb" class="dropdown-item">Lamb</a>
                <a href="{% url 'products' %}?subcategory=chicken" class="dropdown-item">Chicken</a>
                <a href="{% url 'products' %}?category=meat" class="dropdown-item">All Meat</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="dairy-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dairy & Eggs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="dairy-link">
                <a href="{% url 'products' %}?subcategory=fresh%20milk" class="dropdown-item">Fresh milk</a>
                <a href="{% url 'products' %}?subcategory=farmhouse%20cheeses" class="dropdown-item">Farmhouse cheeses</a>
                <a href="{% url 'products' %}?subcategory=butter" class="dropdown-item">Butter</a>
                <a href="{% url 'products' %}?subcategory=eggs" class="dropdown-item">Eggs</a>
                <a href="{% url 'products' %}?category=dairy%26eggs" class="dropdown-item">All Dairy&Eggs Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="fresh-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fresh Produce
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fresh-link">
                <a href="{% url 'products' %}?subcategory=vegetables" class="dropdown-item">Vegetables</a>
                <a href="{% url 'products' %}?subcategory=greens" class="dropdown-item">Greens</a>
                <a href="{% url 'products' %}?subcategory=fruits" class="dropdown-item">Fruits</a>
                <a href="{% url 'products' %}?subcategory=berries" class="dropdown-item">Berries</a>
                <a href="{% url 'products' %}?category=fresh%20produce" class="dropdown-item">All Fresh Produce</a>
            </div>
        </li>
    </ul>
</div>